@{
    ViewBag.Title = "Потвърждение на участие в медиация";
}

<mediation-confirmation inline-template ref="mediationConfirmation">
    <template v-if="loading">
        <v-text-field color="primary"
                      loading
                      label="Зареждане..."
                      readonly>
        </v-text-field>
    </template>
    <template v-else>
        <div class="application-form">
            <v-alert type="info"
                     color="primary"
                     dense>
                <v-col cols="12" md="4" sm="12" class="pa-0">
                    Статус: <b>{{Form.CaseStatusName ? Form.CaseStatusName : 'Чернова'}}</b>
                </v-col>
                <v-col cols="12" md="4" sm="12" class="pa-0">
                    Входящ номер: <b>{{Form.CaseNumber? Form.CaseNumber : 'след входиране'}}</b>
                </v-col>
            </v-alert>
            <v-card hover outlined>
                <v-row>
                    <v-col cols="12">
                        <v-subheader class="subheader-border">Детайли за спора</v-subheader>
                    </v-col>
                </v-row>
                <v-card-text>
                    <v-row>
                        <v-col cols="12" md="4" sm="12">
                            <v-autocomplete attached="true"
                                            class="pl-4"
                                            v-bind:items="disputeSubjects"
                                            v-model="Form.SubjectDisputeGUID"
                                            color="primary"
                                            :no-data-text="noDataText.disputeSubjects"
                                            item-text="Value"
                                            item-value="Key"
                                            v-bind:clearable="!inReadonlyMode"
                                            v-bind:readonly="inReadonlyMode"
                                            label="Предмет на спора">
                            </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" md="12" sm="12">
                            <v-textarea class="pl-4"
                                        auto-grow
                                        v-model="Form.SubjectDisputeDescription"
                                        color="primary"
                                        label="Описание"
                                        rows="1"
                                        v-bind:readonly="inReadonlyMode">
                            </v-textarea>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
            <template>
                <v-tabs align-with-title grow slider-size="5">
                    <v-tabs-slider color="brown lighten-1"></v-tabs-slider>
                    <v-tab ripple centered class="blue-grey--text text--darken-3 subtitle-1 font-weight-bold ml-0">
                        СТРАНА 1
                    </v-tab>
                    <v-tab ripple centered class="blue-grey--text text--darken-3 subtitle-1 font-weight-bold">
                        СТРАНА 2
                    </v-tab>
                    <template v-if="inCreateMode">
                        <v-tab ripple centered class="blue-grey--text text--darken-3 subtitle-1 font-weight-bold">
                            Медиатор
                        </v-tab>
                    </template>
                    @* Applicant *@
                    <v-tab-item>
                        @Html.Partial("~/Areas/Mediation/Views/Case/_ApplicantInformation.cshtml")
                    </v-tab-item>
                    @* Responding party *@
                    <v-tab-item>
                        @Html.Partial("~/Areas/Mediation/Views/Case/_RespondingPartyInformation.cshtml")
                    </v-tab-item>
                </v-tabs>

                @Html.Partial("_AdditionalMediatorDialogs")

            </template>
        </div>
    </template>
</mediation-confirmation>

@section Scripts {

    @* Models *@
    @Scripts.Render("~/JSModels/FormFilingClasses/RepresentativePerson.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/Person.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/Contact.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/FullAddress.js")
    @Scripts.Render("~/JSModels/MediationClasses/LegalEntity.js")
    @Scripts.Render("~/JSModels/MediationClasses/MediationForm.js")
    @Scripts.Render("~/JSModels/ContentManagement/CaseEventFormModel.js")
    @Scripts.Render("~/JSModels/ContentManagement/CaseThirdPerson.js")

    @* Scripts *@
    @Scripts.Render("~/Scripts/Custom/load-nomenclatures.js")
    @Scripts.Render("~/Scripts/VueComponents/mediationConfirmation.js")
}