@{
    ViewBag.Title = "Регистрация на СТРАНА 2";
}

<br />

@Html.ValidationSummary("", new { @class = "text-danger" })
<reponding-party-authentication inline-template ref="repondingPartyAuthentication">
    <template v-if="loading">
        <v-text-field color="primary"
                      loading
                      label="Зареждане..."
                      readonly>
        </v-text-field>
    </template>
    <template v-else>
        <div class="application-form">
            <template v-if="!noAccess">
                <v-row>
                    <v-col cols="12" md="4" sm="12">
                        <v-autocomplete attached="true"
                                        class="pl-4"
                                        v-bind:items="disputeSubjects"
                                        v-model="Form.SubjectDisputeGUID"
                                        color="primary"
                                        :no-data-text="noDataText.disputeSubjects"
                                        item-text="Value"
                                        item-value="Key"
                                        v-bind:clearable="!inReadonlyMode"
                                        v-bind:readonly="inReadonlyMode"
                                        label="Предмет на спора">
                        </v-autocomplete>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="12" sm="12">
                        <v-textarea class="pl-4"
                                    auto-grow
                                    v-model="Form.SubjectDisputeDescription"
                                    color="primary"
                                    label="Описание"
                                    rows="1"
                                    v-bind:readonly="inReadonlyMode">
                        </v-textarea>
                    </v-col>
                </v-row>
                <v-alert type="info"
                         color="primary"
                         dense>
                    <v-col cols="12" md="4" sm="12" class="pa-0">
                        Статус: <b>{{Form.CaseStatusName ? Form.CaseStatusName : 'Чернова'}}</b>
                    </v-col>
                    <v-col cols="12" md="4" sm="12" class="pa-0">
                        Входящ номер: <b>{{Form.CaseNumber? Form.CaseNumber : 'след входиране'}}</b>
                    </v-col>
                </v-alert>
                <template>
                    <v-tabs align-with-title grow slider-size="5">
                        <v-tabs-slider color="brown lighten-1"></v-tabs-slider>
                        <v-tab ripple centered class="blue-grey--text text--darken-3 subtitle-1 font-weight-bold ml-0">
                            СТРАНА 1
                        </v-tab>
                        <v-tab ripple centered class="blue-grey--text text--darken-3 subtitle-1 font-weight-bold">
                            СТРАНА 2
                        </v-tab>
                        <template v-if="inCreateMode">
                            <v-tab ripple centered class="blue-grey--text text--darken-3 subtitle-1 font-weight-bold">
                                Медиатор
                            </v-tab>
                        </template>
                        @* Applicant *@
                        <v-tab-item>
                            @Html.Partial("~/Areas/Mediation/Views/Case/_ApplicantInformation.cshtml")
                        </v-tab-item>
                        @* Responding party *@
                        <v-tab-item>
                            @Html.Partial("~/Areas/Mediation/Views/Case/_RespondingPartyInformation.cshtml")
                        </v-tab-item>
                    </v-tabs>

                    <template v-if="true">
                        <v-card hover outlined>
                            <v-row>
                                <v-col cols="12">
                                    <v-subheader class="subheader-border">Покана за участие в онлайн медиация като Страна 2</v-subheader>
                                </v-col>
                            </v-row>
                            <v-card-text>
                                <p>Получихте покана за участие в онлайн медиация като Страна 2. Моля потвърдете или откажете Вашето участие.</p>
                            </v-card-text>
                            <v-card-actions class="pa-4">
                                <template v-if="!responded">
                                    <v-row>
                                        <v-col cols="12" md="6" sm="12">
                                            <v-btn color="success"
                                                   block
                                                   v-on:click="respondingPartyAgreeMediationAction">
                                                <i class="fa fa-check"></i>&nbsp;
                                                Включи ме като СТРАНА 2 в медиацията
                                            </v-btn>
                                        </v-col>
                                        <v-col cols="12" md="6" sm="12">
                                            <v-btn color="error"
                                                   block
                                                   v-on:click="respondingPartyRefuseMediationAction">
                                                <i class="fa fa-times"></i>&nbsp;
                                                Откажи участие
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </template>
                                <template v-if="respondingPartyAgreeMediation">
                                    <v-row>
                                        <v-col cols="12">
                                            <v-alert border="left"
                                                     type="success"
                                                     text
                                                     class="elevation-2 py-5"
                                                     dense>
                                                Изпратен е потвърждаващ е-мейл за включване към медиацията.
                                            </v-alert>
                                        </v-col>
                                    </v-row>
                                </template>
                                <template v-if="!respondingPartyAgreeMediation && responded">
                                    <v-row>
                                        <v-col cols="12">
                                            <v-alert border="left"
                                                     type="error"
                                                     text
                                                     class="elevation-2 py-5"
                                                     dense>
                                                Успешно отказахте участие в медиацията.
                                            </v-alert>
                                        </v-col>
                                    </v-row>
                                </template>
                            </v-card-actions>
                        </v-card>
                    </template>
                    <template>
                        @Html.Partial("~/Views/SharedDialogs/LoginDialog.cshtml")
                    </template>
                </template>
            </template>
            <template v-if="noAccess">
                <v-alert border="left"
                         type="error"
                         text
                         class="elevation-2 py-5"
                         dense>
                    Нямате достатъчно права за да видите медиацията
                </v-alert>
            </template>
        </div>
    </template>
</reponding-party-authentication>







@section Scripts {
    @Scripts.Render("~/JSModels/FormFilingClasses/RepresentativePerson.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/Person.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/Contact.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/FullAddress.js")
    @Scripts.Render("~/JSModels/MediationClasses/LegalEntity.js")
    @Scripts.Render("~/JSModels/MediationClasses/MediationForm.js")

    @Scripts.Render("~/Scripts/Custom/load-nomenclatures.js")

    @Scripts.Render("~/bundles/Vue")
    @Scripts.Render("~/JSModels/Account/Register.js")
    @Scripts.Render("~/JSModels/Account/LogIn.js")


    @* Scripts *@
    @Scripts.Render("~/Scripts/VueComponents/respondingPartyAuthentication.js")

    @Scripts.Render("~/Scripts/VueComponents/digitalSignature.js")
    @Scripts.Render("~/Scripts/VueComponents/loginDialog.js")
}
