

@{
    ViewBag.Title = "Заявление за отписване на медиатор";
}

@*<h2>Заявление за отписване на лице от Единния регистър на медиаторите</h2>*@
<br />

<cancel-mediator-form inline-template ref="cancelMediatorForm">
    <template v-if="loading">
        <v-text-field color="primary"
                      loading
                      label="Зареждане..."
                      readonly>
        </v-text-field>
    </template>
    <template v-else>
        <div class="application-form">
            <template v-if="showApplication">
                <v-alert type="info"
                         color="primary"
                         dense>
                    <v-col cols="12" md="3" sm="12" class="pa-0">
                        Статус: <b>{{Form.FormStatusName?  Form.FormStatusName : 'Чернова'}}</b>
                    </v-col>
                    <v-col cols="12" md="3" sm="12" class="pa-0">
                        Уникален номер: <b>{{Form.InternalNumber? Form.InternalNumber : 'след запазване'}}</b>
                    </v-col>
                    <v-col cols="12" md="3" sm="12" class="pa-0">
                        <template v-if="!isEmployee">
                            Входящ номер:
                            <b>{{Form.IncomingNumber? Form.IncomingNumber : 'след входиране'}}</b>
                        </template>
                        <template v-else>
                            <v-col cols="12" md="5" sm="12" class="pa-0">
                                Входящ номер:
                            </v-col>
                            <v-col cols="12" md="7" sm="12" class="pa-0" id="incommingNumber">
                                <v-text-field v-model="Form.IncomingNumber"
                                              color="white"
                                              v-bind:readonly="inReadonlyModeEmployee"
                                              class="mt-0 pt-0"></v-text-field>
                            </v-col>
                        </template>
                    </v-col>
                    <v-col cols="12" md="2" sm="12" class="pa-0 float-right">
                        @Html.Partial("_LogNavigation")
                    </v-col>
                    <v-col cols="12" md="3" sm="12" class="pa-0" v-if="Form.CorrectiveToApplicationFormInternalNumber">
                        <a :href="'/FormFiling/RegisterMediator/Preview/' + Form.CorrectiveToApplicationFormGUID"
                           target="_blank"
                           style="color:white">

                            (Коригиращо на:<b>{{Form.CorrectiveToApplicationFormInternalNumber}}</b>)
                        </a>
                    </v-col>
                    <template v-if="applicantUser">
                        <v-col cols="12" md="5" sm="12" class="pa-0">
                            Име на заявител: <b>{{applicantUser}}</b>
                        </v-col>
                    </template>
                </v-alert>
                <template v-if="showLog">
                    <div>
                        @Html.Partial("_ApplicationFormLog")
                    </div>
                </template>
                <template v-else>
                    <v-row>
                        <v-col>
                            <v-autocomplete class="px-4"
                                            v-model="selectedMediatorGuid"
                                            v-on:change="selectModifiedMediator($event)"
                                            v-bind:items="mediators"
                                            item-text="FullInfoString" @*property that allows search in dropdown menu by firstName, middleName, lastName, reg. number and EGN*@
                                            item-value="MediatorGUID"
                                            label="Заявлението цели отписване на Медиатор"
                                            color="primary"
                                            :menu-props="{ offsetY: true }"
                                            :no-data-text="noDataText.mediators">
                                @* This <template> is for how the item will appear AFTER selected *@
                                <template v-slot:selection="data">
                                    <v-list-item-content>
                                        {{ data.item.FirstName + ' ' + data.item.MiddleName + ' ' + data.item.LastName }}
                                    </v-list-item-content>
                                </template>
                                @* This <template> is for how the item will appear BEFORE selected *@
                                <template v-slot:item="data">
                                    <v-list-item-content>
                                        <v-list-item-title v-html="data.item.FirstName + ' ' + data.item.MiddleName + ' ' + data.item.LastName"></v-list-item-title>
                                        <v-list-item-subtitle>ЕГН: {{data.item.EGN}}</v-list-item-subtitle>
                                        <v-list-item-subtitle>Регистрационен номер: {{data.item.RegistrationNumber}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </template>
                            </v-autocomplete>
                        </v-col>
                    </v-row>

                    @*Display form if a mediator is chosen*@
                <template v-if="ModifiedMediator">
                    <template v-if="formlogMessage">
                        <v-card color="orange darken-3"
                                dark>
                            <v-card-title class="title">
                                <v-icon left>mdi-alert-outline</v-icon>
                                ПОИСКАНИ КОРЕКЦИИ ОТ СЛУЖИТЕЛ
                            </v-card-title>
                            <v-card-text class="body-1 white--text">{{formlogMessage}}</v-card-text>
                        </v-card>
                    </template>
                    <template v-if="showMinisterRegistrationNumber">
                        <v-card hover outlined>
                            <v-row>
                                <v-col cols="12">
                                    <v-subheader class="subheader-border">Последна заповед на Министър</v-subheader>
                                </v-col>
                            </v-row>
                            <v-card-text>
                                Номер: {{formLogAdditionalInfo.Message}} от {{formLogAdditionalInfo.Timestamp}}
                            </v-card-text>
                        </v-card>
                    </template>
                    <br />
                    @Html.Partial("_CancellationFormInformation")
                    <br />
                    @Html.Partial("_CancellationFormEducation")
                    <br />
                    @Html.Partial("_CancellationFormDocuments")
                    <template v-if="showGenerateDocuments">
                        @Html.Partial("_CancellationFormGenerateDocuments")
                        <br />
                    </template>

                    <v-row>
                        <v-col cols="12" class="subtitle-2 text-right pt-0">
                            <span>Всички полета отбелязани със звезда (*) са задължителни!</span>
                        </v-col>
                        <v-col cols="12" class="title text-right">
                            <b>Моля да бъда отписан от Единния регистър на медиаторите!</b>
                        </v-col>
                    </v-row>
                    <template v-if="showEmployeeeApproveBtn">
                        <v-row>
                            <v-col>
                                <v-textarea v-model="actionMessage"
                                            label="Коментар / Нужни коригиращи действия"
                                            rows="1"
                                            outlined
                                            auto-grow>
                                </v-textarea>
                            </v-col>
                        </v-row>
                    </template>
                    <template v-if="showMinisterApproveBtn">
                        <v-row>
                            <v-col>
                                <v-textarea v-model="actionMessage"
                                            label="Номер на заповедта за вписване / Причина за отказ от вписване"
                                            rows="1"
                                            outlined
                                            auto-grow>
                                </v-textarea>
                            </v-col>
                        </v-row>
                    </template>
                    <template v-if="showCancelProcedureBtn">
                        <v-row>
                            <v-col>
                                <v-textarea v-model="actionMessage"
                                            label="Причина за прекратяване на производство"
                                            rows="1"
                                            outlined
                                            auto-grow>
                                </v-textarea>
                            </v-col>
                        </v-row>
                    </template>
                    @Html.Partial("_CancellationFormButtons")
                </template>
                </template>
            </template>
            <template v-else>
                @Html.Partial("_ServiceConfirmation")
            </template>
            <template>
                @Html.Partial("~/Views/SharedDialogs/LoginDialog.cshtml")
            </template>
        </div>
    </template>
</cancel-mediator-form>


@section Scripts {
    @* Models *@
    @Scripts.Render("~/JSModels/FormFilingClasses/CancelMediatorFrom.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/Person.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/Education.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/Contact.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/AttachedDocument.js")
    @Scripts.Render("~/JSModels/FormFilingClasses/FullAddress.js")
    @Scripts.Render("~/JSModels/Account/Login.js")


    @* Scripts *@
    @Scripts.Render("~/Scripts/VueComponents/cancelMediatorForm.js")
    @Scripts.Render("~/Scripts/Custom/file-attachments.js")
    @Scripts.Render("~/Scripts/Custom/load-nomenclatures.js")
    @Scripts.Render("~/Scripts/Custom/mediator-data-comparing.js")

    @Scripts.Render("~/Scripts/VueComponents/digitalSignature.js")
    @Scripts.Render("~/Scripts/scs/scs.js")
    @Scripts.Render("~/Scripts/scs/scs.helpers.js")
    @Scripts.Render("~/Scripts/VueComponents/loginDialog.js")
}
